#set($layout="layout/contentLayout.vm")
<div style="padding: 0 5%;padding-bottom: 55px;">
    <input id="nowPage" type="hidden"/>
    <input id="pageNum" type="hidden"/>
    <textarea class="textarea" id="content_id" placeholder="请输入待抽取的文本内容..."></textarea>
    <button id="submit" class="btn btn-bt-no" style="margin-bottom: 20px;
    margin-left: 10px;color: white;" onclick="getMassageList()">提交
    </button>
    <div>
        <ul style="padding-left: 10px" id="massageList">
            此处显示结果
        </ul>
    </div>
    <div id="page"></div>
</div>
#parse("monitor/wait-model.vm")
<style type="text/css">
    .input-border-main {
        height: 30px;
        font-size: 14px;
        padding: 10px;
        border-radius: 5px;
        border: solid 2px #A6B3C0;
        width: 160px;
    }

    .clearfix {
        display: block;
        border-bottom: solid 1px #ddd;
        margin-bottom: 10px;
    }

    .news-date {
        text-align: center;
        display: inline-block;
        float: left;
        width: 4rem;
        height: 4rem;
        background: darkorange;
        border-radius: 8px;
    }

    .news-date1 {
        text-align: center;
        color: #666666;
        font-size: 1.5625rem;
        padding-top: 26%;
    }

    .news-bodys {
        display: list-item;
        padding: 0 0.875rem;
        overflow: hidden;
    }

    .username {
        font-size: 21px;
        margin-right: 10px;
        color: blue;
    }

    .verb {
        font-size: 16px;
        color: brown;
    }

    .centence {
        text-indent: 2em;
        text-align: justify;
        font-size: 14px;
        color: #999;
    }

    .textarea {
        margin: 10px;
        padding: 8px;
        width: 100%;
        height: 200px;
        border: solid 2px #ddd;
        border-radius: 8px;
        background: snow;
        font-size: 17px;
    }

    .btn-bt {
        background: silver;
        pointer-events: none;
    }

    .btn-bt-no {
        background: royalblue;
    }
</style>
<script>
    function getMassageList() {
        var param = [];
        var content = $("#content_id").val();
        $("#submit").attr("disabled", "disabled");
        $("#submit").removeClass("btn-bt-no");
        $("#submit").addClass("btn-bt");
        $("#loadingModal").modal('show');
        $.ajax({
            type: "POST",
            async: false,
            dataType: "json",
            url: basePath + "/monitor/extract-list?_time=" + new Date().getTime(),
            data: {content: content},
            success: function (res) {
                $('#loadingModal').modal('hide');
                if (res.code == 1) {
                    if (res.data == null || res.data.length < 1) {
                        $('#massageList').html("您输入的文本中未包含任何言论信息！");
                    } else {
                        var content = showMassageList(res.data);
                        $('#massageList').html(content);//显示详情页面
                    }
                } else {
                    bootbox.alert(res.msg);
                }
                $("#submit").removeAttr("disabled");
                $("#submit").removeClass("btn-bt");
                $("#submit").addClass("btn-bt-no");
            }
        });
    }

    function showMassageList(data) {
        var html = '';
        var res = data;
        for (var i = 0; i < data.length; i++) {
            html += '<li class="clearfix">' +
                    '<div class="news-date">' +
                    '<div class="news-date1">' + res[i].id + '</div>' +
                    '</div>' +
                    '<div class="news-bodys">' +
                    '<a class="username">' + res[i].speaker + '</a>' +
                    '<a class="verb">' + res[i].verb + '</a>' +
                    '<p class="centence">' + res[i].content + '</p></div></li>'
        }
        return html;
    }
</script>